spring:
  datasource:
    url: jdbc:postgresql://postgres-db:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: validate
